<component name="libraryTable">
  <library name="module">
    <CLASSES>
      <root url="jar://E:/sOURCE/supper-app-api/supper-app-apigateway/out/supper-app-messaging/module/supper-app-messenging.jar!/" />
      <root url="jar://E:/sOURCE/supper-app-api/supper-app-apigateway/out/supper-app-messaging/module/supper-app-apigateway-utils.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>